/.idea
/BaMinimalTemplate/obj
/BaMinimalTemplate/obj/Debug/net9.0
BaMinimalTemplate/obj/Debug/net9.0/BaMinimalTemplate.dll
/BaMinimalTemplate/obj/Debug
BaMinimalTemplate/obj/Debug/net9.0/BaMinimalTemplate.AssemblyInfo.cs
/BaMinimalTemplate/obj/Debug
/BaMinimalTemplate/obj
